<%- include('template/header'); %>

  
    <% if (error) { %>
        <div class= 'flex-container'></div>
        <div class = 'text-container'> <h1><%=message %> </h1> </div>
        <div class = 'text-container'> <a href="/listtodo" style="color:black"><h2>resume to the list </h2></a></div>
    </div>
    <% } %>
    
    <% if (!error) { %>
        <div class= 'flex-container'>
            <div class = 'text-container'> <h1> Edit your task </h1> </div>
            </div>

           <div class = 'add-input'>
    
            <form id= "editForm" data-id="<%= taskId.id %>">
            <label for="fname">Date:</label>
            <input type="text" id="dateInput" name="date" value="<%= taskId.date %>" ><br><br>
            <label for="lname">Task:</label>
            <input type="text" id="taskInput" name="task" value="<%= taskId.task %> "><br><br>
            <div class= 'elements-bottom'>
                <button class='button-edit' type="submit" >Edit</button>
              </div>   
            </form>
        
    </div>
    
        
    <% } %>
   
   
<%- include('template/footer'); %>

<script>
const editForm= document.querySelector ('#editForm' )


   


    editForm.addEventListener ('submit', async (e) => {
        e.preventDefault()
        const date= editForm.elements['date'].value
        const task= editForm.elements ['task'].value
        const id= editForm.dataset.id
        const datevali= document.getElementById ('dateInput')
        const taskvali= document.getElementById ('taskInput')
        console.log(id)

        if (datevali.value === "") {
        datevali.setAttribute("placeholder", "Fill the date form e.g: 00/00/00");
        datevali.style.borderColor="red"
        e.preventDefault ()
        return false
    } 
        
        if (!new RegExp(/\d\d\/\d\d\/\d\d/).test(datevali.value)) {
        datevali.value= ""
        datevali.setAttribute("placeholder", "E.g: 00/00/00");
        datevali.style.borderColor="red"
        e.preventDefault ()
        return false
    } 

    if (taskvali.value === "") {
        taskvali.setAttribute("placeholder", "Please fill task form");
        taskvali.style.borderColor="red"
        e.preventDefault ()
        return false
    }
    
   

        try {
            const data= await fetch (`/listtodo/${id}`, {
                method: 'put',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify( {date,task})
        })

        const response= await data.json()

        if (response.status) {
            window.location.href= '/listtodo'
        }
        console.log (response)
        } catch (e) {
            console.log (e)
        }
    })

   
   

</script>