<%- include('template/header'); %>
<div class= 'flex-container'>
<div class = 'text-container'> <h1><%= listtodoTitle %></h1> </div>
</div>
<div class= 'grid-container'>
<div class= 'elements-title'><u> Date </u></div> 
<div class= 'elements-title'><u>Task</u></div>  
<div class= 'elements-title'><u>Action</u></div>
<% if ( arrayTasks.length > 0) { %>
  <% arrayTasks.forEach(task => { %>
 
    <div class= 'elements'><%= task.date %></div>  
    <div class= 'elements'><%= task.task %> </div>  
    <div class= 'elements-bottom'>
      <button class= "button-delete" type="button">Delete</button><br>
      <button class='button-edit' type="button">Edit</button>
    </div>   
<% }) %>

<% } %> 
<div class= 'blank-grid'></div>
<div class= 'add-bottom'> <button class = 'button-add' type="button"> Add Task </button></div>
<div class="blank-grid"></div>
</div>
<%- include('template/footer'); %>

